body {
	color: #000;
}
#wrapper {
	width: 233px;
	margin: 0 auto;
}
form {
	width: 210px;
	background: #ccc;
	padding: 10px;
	border: 1px solid #999;
}
#insert p:last-of-type {
	text-align: right;
}
#insert input[type="text"], #insert input[type="email"], #insert input[type="password"]{
	border: none;
	padding: 7px;
	width: 92%;
	text-align: left;
}
.select input {
	display: block;
	width: 95%;
	padding: 15px 0;
	border: 1px solid #27688e;
	background: #409ed6;
	color: #fff;
	font-size: 11pt;
	font-family: Veranda, arial, sans-serif;
	text-shadow: 1px 1px 1px #555;
}
.select input:hover {
	cursor: pointer;
	background: #3980ac;
}
#select p, #results p {
	text-align: left;
}
#results {
	display: none;
	overflow: hidden;
	margin-top: 10px;
	background: #61a6d1;
	border: 1px solid #0f6ca6;
	padding: 10px;
}
#results p {
	background: #c3e2d1;
	border: 1px solid #47b77f;
	padding: 7px 4px;
}
#results .clicked{
	display: block;
	background: #ff6e70;
	border: 1px solid #e02c2f;
}
#delete, #update {
	background: transparent;
	border: none;
	padding: 0;
}
#results .delete, #results #update input{
	padding: 12px;
	width: 48%;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	margin-right: 10px;
	float: left;
}
#results .delete:hover {
	cursor: pointer;
	background: #ffa2a4;
}
#results #update input {
	margin-right: 0;
}
#results #update input:hover {
	cursor: pointer;
	background: #ffdf9d;
}
#update input {
	background: #ffcd67;
	border: 1px solid #e79b00;
}
#errors {
	display: none;
	background: #FF6E70;
	border: 1px solid #E02C2F;
	margin-top: 10px;
}
#errors .error {
	width: 90%;
	text-align: center;
	color: #5e0002;
}